*{margin: 0; padding: 0; text-decoration: none; list-style: none; color: inherit;}
header{background-color: #132822; height: 147px;}
header .header_wrap{width: 1200px; margin: 0 auto; text-align: center; position: relative; color: #8e9996;}
/* header_wrap */
header .header_wrap .logo{padding-top: 35px;}
/* header logo */
header .header_wrap .nav{position: absolute; display: flex; position: absolute; right: 0; top: 50px; font-size: 12px;}
header .header_wrap .nav li:not(:nth-child(3)){border-right: 1px solid #8e9996; padding-right: 5px; margin-right: 5px;}
header .header_wrap .nav form{ border-bottom: 1px solid #8e9996; position: relative;}
header .header_wrap .nav form input{ background-color: unset; border: unset;}
header .header_wrap .nav form input:focus{outline: unset;}
header .header_wrap .nav form button{background-color: unset; border: unset; position: absolute; right: 0;}
/* header nav */
header .header_wrap .gnb{display: flex; font-size: 13px;text-align: center; margin: 0 auto; justify-content: space-between; margin-top: 35px;}
header .header_wrap .gnb li{position: relative;} 
header .header_wrap .gnb .sub{display:none; margin-top: 30px; position: absolute; left: 50%; justify-content: space-between;}
header .header_wrap .gnb li:nth-child(1) .sub{width: 160px; margin-left: -80px;}
header .header_wrap .gnb li:nth-child(2) .sub{width: 460px; margin-left: -230px;}
header .header_wrap .gnb li:nth-child(3) .sub{width: 290px; margin-left: -145px;}
header .header_wrap .gnb li:nth-child(4) .sub{width: 140px; margin-left: -70px;}
header .header_wrap .gnb .sub li:not(:last-child){margin-right: 30px;}
header .header_wrap .gnb li a:not(.not){padding: 10px; position: relative;}
header .header_wrap .gnb li a:not(.not):before{content: ''; display: block; width: 0px; height: 2px; background-color: #8e9996; position: absolute; bottom: 0; left: 0;}
header .header_wrap .gnb li a:hover::before{transition: all 1.2s; width: 100%;}
header .header_wrap .gnb li:hover .sub{display: flex;}
/* header gnb */
.banner{background-image: url(../images/img_visual_1.jpg); width: 1920px; height: 600px; margin: 0 auto; position: relative;}
.banner .banner_txt{position: absolute; left: 60%; top: 140px; font-size: 13px; color: white; display: block; text-align: left; line-height: 24px;}
.banner .banner_txt a{display: block; position: relative; margin-top: 30px; width: 108px; height: 18px; border: 1px solid white; padding: 4px 0; text-align: center; line-height: 18.5px;}
.banner .banner_txt a span{position: absolute; left: 0; top: 0; height: 26px; width: 0; overflow: hidden; transition: all 1.2s linear; line-height: unset;}
.banner .banner_txt a b{ display: block; font-weight: normal; width: 108px; height: 18px; padding: 4px 0; background-color: #fff; color: #000; line-height: unset;}
.banner .banner_txt a:hover span{width: 100%;}